
.idea/
V-REP_PRO_EDU_V3_5_0_Linux/
V-REP_PRO_EDU_V3_6_1_Ubuntu16_04/


catkin_ws/build
catkin_ws/devel

backup/*
logs/*
downloads/server
downloads/*.pth

real/camera_depth_scale.txt
real/camera_pose.txt

realsense/CMakeFiles/*
realsense/CMakeCache.txt
realsense/Makefile
realsense/cmake_install.cmake
realsense/realsense

*.pyc
*__pycache__*

commands.txt
visualization.push.png
visualization.grasp.png
