catkin_ws/build
catkin_ws/devel

backup/*
logs/*
downloads/server
downloads/*.pth

realsense/CMakeFiles/*
realsense/CMakeCache.txt
realsense/Makefile
realsense/cmake_install.cmake
realsense/realsense

*.pyc
*__pycache__*

commands.txt
visualization.push.png
visualization.grasp.png